html {
  font-size: 10px;
  background: url(http://i.imgur.com/5Cd36I1.png)  bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttons {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  /* outline: red 1px solid; */
  color: white;
}

.keys {
  display: flex;
  /* flex: 1; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  min-width: 60px;
  text-align: center;
  color: rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 1rem red;
}

kbd {
  color: white;
  display: block;
  font-size: 4rem;
  text-shadow: 0 0 .5rem black;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: red;
  text-shadow: 0 0 .5rem black;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: red;
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  transform: translateX(26px);
}